<div class="card-body">
    <h4 class="card-title">Registrierung erfolgreich</h4>
    <div class="card-text mb-2">
        Hallo <b>{{_SESSION.realname}}</b>,
    </div>
    <div class="card-text mb-2">
        vielen Dank für Ihre Registrierung. Wir haben Ihnen eine E-Mail mit dem Aktivierungslink geschickt.<br>Bitte aktivieren Sie Ihren Account und melden Sie sich anschließend an, um Rezepte zu erstellen und Kommentare zu verfassen.
    </div>
    <div class="card-text">
    Zur <a class="card-link" href="/login/{{_SESSION.loginname}}">Anmeldung</a>
    </div>
</div>