<div class="card-body">
    <h4 class="card-title">Willkommen</h4>
    <div class="card-text mb-2">
        Hallo <b>{{realname}}</b>,
    </div>
    <div class="card-text mb-2">
        letzter Login {{last_login}}
    </div>
    <div class="card-text">
        <a class="card-link" href="/pwchange">Passwort ändern</a>
        <a class="card-link" href="/logout">Abmelden</a>
    </div>

    <div class="row">
        <div class="card-text pl-3 pt-3">
            <a class="btn btn-light" href="/meinProfil">Einstellungen</a>
        </div>
        <div class="card-text pl-3 pt-3">
            <a class="btn btn-light" href="/rezepte/{{loginname}}">Meine Rezepte</a>
        </div>
    </div>

</div>
