<div class="card-body" onload="onLoad();">
    <form method="POST" action="/saveRezept" enctype="multipart/form-data" onsubmit="return validateRezeptForm();">
        <input type="hidden" name="rezept_id" value="{{rezept_id}}">

        <h4 class="card-title">Rezept anlegen</h4>

        <div id="infos" class="card alert-info p-1 mb-2">
            <p>Geben Sie bitte eine Bezeichnung für das Rezept ein. z.B. <b>Helloween-Finger</b></p>
            <p>Beschreiben Sie das Rezept. Z.B. <b>Gruselige aber leckere Kekse in Fingerform</b></p>
            <p>Geben Sie die Zutaten ein, entweder in der Form Menge|Einheit|Zutat oder als Freitext. Z.B. <b>1|__|Ei</b> oder <b>|__|__|etwas rote Lebensmittelfarbe</b></p>
            <p>Beschreiben Sie die Zubereitung z.B. <b>Kommt noch</b></p>
            <p>Backzeit und Temperatur <b>Kommt noch</b></p>
        </div>


        {{#errors}}
            <div id="server_errors" class="card alert-danger p-1 mb-2">
                <p>{{.}}</p>
            </div>
        {{/errors}}
        <div id="client_errors" class="card alert-danger p-1 mb-2" hidden="hidden">
        </div>

        <p class="small text-muted font-italic mb-2">Kategorie</p>
        <ul class="list-group d-flex flex-row flex-wrap">
            {{>kategorien}}
        </ul>

        <div class="form-group mt-5">
            <label for="title" hidden="hidden"></label>
            <input class="form-control" id="title" type="text" name="title"
                   placeholder="Titel (max. 100 Zeichen)"
                   value="{{title}}" minlength="" maxlength="100">
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Fügen Sie dem Rezept ein Bild hinzu (jpg/png)
            </div>
            <div class="col my-auto">
                <input type="file" name="image[]" >
            </div>
        </div>


        <div class="form-group">
            <label for="description" hidden="hidden"></label>
            <textarea id="description" class="form-control" rows="3" name="description"
                      placeholder="Beschreibung (max. 2000 Zeichen)" maxlength="2000">{{description}}</textarea>
        </div>

        <div class="form-group">
            <div id="lstZutaten">
                {{>rezept_zutaten}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <p class="btn btn-secondary" onclick="addZutat();">+1 Zutat</p>
            </div>
        </div>

        <div class="form-group">
            <div id="lstTasks" class="mt-2">
                {{>rezept_zubereitung}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <p class="btn btn-secondary" onclick="addTask();">+1 Arbeitsschritt</p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col text-right">
                <button class="btn btn-primary" type="submit">Speichern</button>
            </div>
        </div>

        <a class="card-link" href="/rezepte/{{loginname}}">abbrechen</a>

    </form>
</div>

<script type="text/javascript">
    addZutat();
    addTask();
</script>

