<div class="card-body" onload="onLoad();">
    <form method="POST" action="/saveRezept" enctype="multipart/form-data" onsubmit="return validateRezeptForm()">
        <input type="hidden" name="rezept_id" value="{{rezept_id}}">

        <h4 class="card-title">Rezept anlegen</h4>

        <div id="infos" class="card alert-info p-1 mb-2">
            <p>Geben Sie bitte eine Bezeichnung für das Rezept ein. z.B. <b>Helloween-Finger</b></p>
            <p>Beschreiben Sie das Rezept. Z.B. <b>Gruselige aber leckere Kekse in Fingerform</b></p>
            <p>Geben Sie die Zutaten ein, entweder in der Form Menge|Einheit|Zutat oder als Freitext. Z.B. <b>1|__|Ei</b> oder <b>|__|__|etwas rote Lebensmittelfarbe</b></p>
            <p>Beschreiben Sie die Zubereitung z.B. <b>Kommt noch</b></p>
            <p>Backzeit und Temperatur <b>Kommt noch</b></p>
        </div>


        {{#errors}}
            <div id="server_errors" class="card alert-danger p-1 mb-2">
                <p>{{.}}</p>
            </div>
        {{/errors}}
        <div id="client_errors" class="card alert-danger p-1 mb-2" hidden="hidden">
        </div>

        <p class="small text-muted font-italic mb-2">Kategorie</p>
        <ul class="list-group d-flex flex-row flex-wrap">
            {{>kategorien}}
        </ul>

        <div class="form-group mt-5">
            <label for="title" hidden="hidden"></label>
            <input class="form-control" id="title" type="text" name="title"
                   placeholder="Titel (max. 100 Zeichen)"
                   value="{{title}}" minlength="" maxlength="100">
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Fügen Sie dem Rezept ein Bild hinzu (jpg/png)
            </div>
            <div class="col my-auto">
                <input type="file" name="image[]" >
            </div>
        </div>


        <div class="form-group">
            <label for="description" hidden="hidden"></label>
            <textarea id="description" class="form-control" rows="3" name="description"
                      placeholder="Beschreibung (max. 2000 Zeichen)" maxlength="2000">{{description}}</textarea>
        </div>

<!--        <div class="border rounded mb-1 bg-light" hidden="hidden">-->
<!--            <div class="row" >-->
<!--                <div class="col-6 col-md-2 pr-0">-->
<!--                    <label for="zutat1menge" hidden="hidden"></label>-->
<!--                    <input class="form-control" id="zutat1menge" type="text" name="zutat1menge"-->
<!--                           placeholder="Menge"-->
<!--                           value="{{menge}}" minlength="" maxlength="20">-->
<!--                </div>-->

<!--                <div class="col-6 col-md-2" id="col_zutat1einheit">-->
<!--                    <label for="zutat1einheit" hidden="hidden"></label>-->
<!--                    <input class="form-control" id="zutat1einheit" type="text" name="zutat1einheit"-->
<!--                           placeholder="Einheit"-->
<!--                           value="{{name}}" minlength="" maxlength="100">-->
<!--                </div>-->

<!--                <div class="col-9 col-md-6 pr-0" id="col_zutat1name">-->
<!--                    <label for="zutat1name" hidden="hidden"></label>-->
<!--                    <input class="form-control" id="zutat1name" type="text" name="zutat1name"-->
<!--                           placeholder="Zutatenname"-->
<!--                           value="{{name}}" minlength="" maxlength="100" required>-->
<!--                </div>-->

<!--                <div class="col-3 col-md-2 text-nowrap text-right"><div class="btn alert-danger" onclick="delZutat();">X</div></div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group">
            <div id="lstZutaten"></div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <button class="btn btn-secondary" onclick="addZutat();">+1 Zutat</button>
            </div>
        </div>

        <div class="form-group">
            <div id="lstTasks" class="mt-2"></div>
        </div>

<!--        <div id="lstTasks" class="mt-2">-->
<!--            <div id="task1" class="border rounded mb-1" hidden="hidden">-->
<!--                <div class="row">-->
<!--                    <div class="col-9 col-md-10 pr-0">-->
<!--                        <label for="_task1" hidden="hidden"></label>-->
<!--                        <input class="form-control" id="_task1" type="text" name="_task1"-->
<!--                               placeholder="Vorbereitung, Zubereitung, Anweisungen zum Backen bzw. Kochen"-->
<!--                               value="{{name}}" minlength="" maxlength="2000">-->
<!--                    </div>-->
<!--                    <div class="col-3 col-md-2 text-nowrap text-right"><div class="btn alert-danger" onclick="delZutat();">X</div></div>-->
<!--                </div>-->
<!--                <label for="descTask1" hidden="hidden"></label>-->
<!--                <textarea id="descTask1" class="form-control" rows="3"-->
<!--                          placeholder="Beschreibung" maxlength="2000"></textarea>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row mt-2">
            <div class="col">
                <button class="btn btn-secondary" onclick="addTask();">+1 Arbeitsschritt</button>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col text-right">
                <button class="btn btn-primary" type="submit">Speichern</button>
            </div>
        </div>

        <a class="card-link" href="/rezepte/{{loginname}}">abbrechen</a>

    </form>
</div>

<script type="text/javascript">
    addZutat();
    addZutat();
</script>

