<div class="card-body">
    <div class="row">
        <div class="card-text">
            <a class="btn btn-primary" href="/addRezept">neues Rezept hinzufügen</a>
        </div>
    </div>

    <div id="lstRezepte" class="mt-2">
        {{>rezept_preview}}
    </div>

</div>

