<div id="cookie-popup">
    <div class="hinweis">
        <p>Um unsere Webseite für Sie optimal zu gestalten und fortlaufend verbessern zu können verwenden wir Cookies.</p>
        <p>Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu.</p>
        <p>Weitere Informationen zu Cookies erhalten Sie in unserer <a href="/privacy" target="_blank">Datenschutzerklärung</a></p>
    </div>
    <button onclick='cookieOk()'>Ja, ja, wenn es denn sein muss ...</button>
</div>