    <div class="row">
        <div class="col text-nowrap">&copy; 2020 Stefan Berg</div>
        <div class="col">Impressum</div>
        <div class="col"><a class="card-link" href="/privacy" target="_blank">Datenschutzerl&auml;rung</a></div>
        <div class="col"><a class="card-link" href="/terms" target="_blank">Nutzungsbedingungen</a></div>
    </div>

