<div class="footer__center">
    <div>&copy; 2020 Stefan Berg  |  Impressum</div>
    <div><a href="/privacy" target="_blank">Datenschutzerl&auml;rung</a>  |  <a href="/terms" target="_blank">Nutzungsbedingungen</a></div>
</div>

