<div class="rezept__box">
    <div class="title">

    </div>
    <div class="desc">

    </div>
    <div class="zutaten__box">

    </div>
    <div class="zubereitung__box">

    </div>

    <div class="bilder__box">

    </div>

</div>