    <li class="list-group-item list-group-item-action w-auto border-0">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="visible" type="radio" name="visibility" {{visibility_public}} value="visible">
            <label class="cursor-pointer font-italic d-block custom-control-label" for="visible">Öffentlich</label>
        </div>
    </li>

    <li class="list-group-item list-group-item-action w-auto border-0">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="invisible" name="visibility" type="radio" {{visibility_private}} value="invisible">
            <label class="cursor-pointer font-italic d-block custom-control-label" for="invisible">Privat</label>
        </div>
    </li>
