<div class="row flex-row-reverse">
    <div class="card-text mr-3">
        <a class="btn btn-danger" href="/deleteRezept/{{rezept_id}}">Rezept löschen</a>
    </div>
    <div class="card-text mr-3">
        <a class="btn btn-primary" href="/editRezept/{{rezept_id}}">Rezept bearbeiten</a>
    </div>
</div>
