@media only screen {
  /* For mobile phones: */
  .auth .auth-form {
    max-width: 100%;
  }

  body, html {
    font-size: 30px;
    color: var(--color-white);
  }
}
body,
html {
  font-family: "proxima nova", sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-black);
  font-size: 15px;
  text-rendering: geometricPrecision;
  -webkit-backface-visibility: hidden;
}

body.auth {
  background-image: url("images/bg.jpg");
}

div.gradient {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: linear-gradient(to top left, rgba(139, 69, 19, 0.2), rgba(245, 222, 179, 0.4));
}

div.dimmed {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
}

.auth {
  min-height: 100vh;
  --color-black: #091a34;
  --color-raven: #142d52;
  --color-night: #2f4a71;
  --color-asphalt: #4f6d97;
  --color-steel: #85a0c6;
  --color-fog: #daeaf8;
  --color-fog-rgb: 218, 234, 248;
  --color-ice: #f4faff;
  --color-ice-rgb: 244, 250, 255;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-shadow-rgb: 47, 74, 113;
  --color-icon: var(--color-steel);
  --color-border: var(--color-fog);
  --color-input: var(--color-white);
  --color-text-normal: var(--color-night);
  background-position: center center;
  background-size: cover;
}
.auth .auth-content {
  z-index: 1;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.auth .auth-header {
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 60px;
}
.auth .auth-header .auth-header-content {
  align-self: flex-end;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.auth .auth-header .auth-header-content .team-name {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  margin: 0;
  min-height: 40px;
}
.auth .auth-header .auth-header-content .team-name.sandbox-team {
  top: 65px;
}
.auth .auth-form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  flex: 2;
  padding-top: 10px;
  text-align: center;
  position: relative;
  min-height: 550px;
}
.auth .auth-form .auth-box {
  border-radius: 15px;
  background-color: var(--color-white);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
}
.auth .auth-footer {
  width: 100%;
  align-self: flex-end;
  text-align: center;
  min-height: 100px;
}
.auth .auth-footer .text {
  color: white;
}

div.alert {
  color: #cd2c75;
  text-align: left;
}

button {
  padding: 15px;
  border-radius: 5px;
}

.bg--blue {
  background-color: #277dc2;
  color: white;
  width: 100%;
}

.bg--red {
  background: #cd2c75;
  color: white;
}

:host-context(.aw-dark) .auth .auth-form .auth-footer .text {
  color: var(--color-steel);
}

.auth input.frm__control {
  margin-bottom: 5px;
  padding: 15px;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  width: 100%;
}
.auth div.frm__control {
  padding: 15px;
  border: 0;
}

.sandbox {
  background-color: #ff4398;
  text-align: center;
  animation: slideIn 300ms ease-in forwards;
  animation-delay: 2s;
  height: 0;
  overflow: hidden;
}
.sandbox h3 {
  color: white;
}
.sandbox h3 a {
  color: var(--color-night);
}
@keyframes slideIn {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}

/*# sourceMappingURL=@auth.css.map */
