<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://kochbuch.taiskorgon.de/images/favicon.png" type = "image/png">
    <link rel="stylesheet" href="/@kochbuch.css">
    <link rel="stylesheet" href="/extern/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <title>Kochbuch</title>
</head>

<script src="/helper/md5.js"></script>
<script src="/helper/RezeptController.js"></script>
<body>
{{#_SESSION.showCookiePopup}}
    {{>cookie}} {{! ggf. Hinweis auf die Verwendung von Cookies anzeigen }}
{{/_SESSION.showCookiePopup}}

<div class="container mw-100">
    <div class="card">
        <div class="card-header">{{>header}}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-9 col-md-8 order-2 order-lg-1 order-md-1">
                    <div id="rezept" class="card">
                        {{#renderWelcome}}
                            {{>body_welcome}} {{! Startseite }}
                        {{/renderWelcome}}
                        {{#renderCreateRezept}}
                            {{>body_rezept_create}} {{! Rezept erstellen }}
                        {{/renderCreateRezept}}
                        {{#renderEditRezept}}
                            {{>body_rezept_edit}} {{! Rezept bearbeiten }}
                        {{/renderEditRezept}}
                        {{#renderListeRezepte}}
                            {{>body_rezept_liste}} {{! Rezepte auflisten }}
                        {{/renderListeRezepte}}
                    </div>
                </div>

                <div class="col order-sm-1 order-xs-1" >
                    <div id="userdata" class="card">
                        {{#renderLogin}}
                            {{>acc_login}} {{! Formular "Anmelden" anzeigen }}
                        {{/renderLogin}}
                        {{#renderVerify}}
                            {{>acc_notverified}} {{! Benutzer ist noch nicht verifiziert }}
                        {{/renderVerify}}
                        {{#renderUserinfo}}
                            {{>acc_userinfo}} {{! "Benutzerinformationen" anzeigen }}
                        {{/renderUserinfo}}
                        {{#renderRegister}}
                            {{>acc_register}} {{! Formular "Registrierung" anzeigen }}
                        {{/renderRegister}}
                        {{#renderPasswortVergessen}}
                            {{>acc_pwforgotten}} {{! Formular "Passwort vergessen" anzeigen }}
                        {{/renderPasswortVergessen}}
                        {{#renderThanksForRegister}}
                            {{>acc_danke}} {{! für die Registrierung bedanken}}
                        {{/renderThanksForRegister}}
                        {{#renderPasswortChange}}
                            {{>acc_pwchange}} {{! Formular "Passwort ändern" anzeigen }}
                        {{/renderPasswortChange}}
                    </div>
                    <div id="news" class="card">
                        <div class="card-body">
                            <h4 class="card-title">Neuigkeiten</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            {{>footer}}
        </div>
    </div>
</div>

</body>
</html>